@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

.new-books-section {
    background-image: url('../../Images/Background/new-books-bg.png');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 40px 0;
    overflow: hidden;
    height: 500px;
}

/* Tiêu đề "SÁCH MỚI" khổng lồ ở nền */
.new-books-section::before {
    content: 'SÁCH MỚI';
    font-family: "Afacad", sans-serif;
    font-size: 125px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: -40px;
    left: 30%;
    transform: translateX(-50%);
    z-index: 1;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.new-books-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
}

.new-book-card {
    display: grid;
    grid-template-columns: 220px 1fr;
    margin-left: 30px;
    text-align: left;
    background: none;
    box-shadow: none;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-book-cover {
    width: 250px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.new-book-cover:hover {
    transform: scale(1.05);
}

.new-book-info{
    font-family: "Afacad", sans-serif;
    margin-left: 30px;
    width: 250px;


}

.new-book-info h3 {
    font-size: 1.8rem;
}

.new-book-info .author {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.new-book-info .description {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Lưới sách nhỏ (bên phải) */
.new-books-grid {
    flex: 1.2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.new-books-grid .book-cover-small img {
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.new-books-grid .book-cover-small img:hover {
    transform: scale(1.05);
}