@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

.trending-section {
    background: linear-gradient(0deg, #ffffff, #d5cdc0);
    position: relative;
    padding: 40px 0;
    text-align: center;
}

.Top-Trending {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 150px;
    font-weight: 800;
    color: #676666;
    letter-spacing: -3px;
    line-height: 1;
    text-decoration: none;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột */
    gap: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.book-card {
    position: relative;
    justify-self: center;
    align-self: center; 
    width: 300px;
    height: 225px;
    background-color: #fff; /* Nền trắng cho card */
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    gap: 15px;
    font-family: 'Lato', sans-serif;
}

.book-cover {
    position: absolute;
    width: 175px;
    left: -20%;
}

.book-cover img {
    width: 100%;
    border-radius: 5px;
}

.book-info{
    padding:10px 0px 10px 35%;
    justify-self: left;
    align-self: left; 
}

.book-info h3 {
    font-family: "Afacad", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 5px 0;
    color: #1a1a1a;
}

.book-info .author {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 8px;
}

.book-info .rating {
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 12px;
}